*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    
    height: 115vh;
    
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo{
    width: 50px;
    float: left;
    margin-left: -200px;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-left: 90px;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #20d2e5;
    font-size: 17px;
    font-size: large;
}
nav ul li a:hover{
    transition: 0.2s ease-in-out;
    color: beige;
}
    

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: 600;
    position: relative;
    transition: 0.5s;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #ffffff;
    font-weight: 600;
    transition: 0.5s ;
}
.content h1:hover{
    -webkit-text-stroke: 2px beige;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 70px;
}

.content a:hover{
    transition: 0.2s ease;
    color: #20d2e5;
    
}
.back-video{
    position: absolute;
    right: 10;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 111vh;
    width: 100%;
    
}